<div class='card border-light mb-3 ml-5' style="max-width: 50vw; padding: 0">  
    <div class='card-header pt-3 pb-3'> 
        {% for climber in climbers%}
            {% if climber._id == climb.climber_id %}
        <img class='mr-2' src='{{ url_for("file", filename=climber["profile-photo"]) }}' style='height: 30px; width: 30px; border-radius: 15px;'/> 
            {% endif %}
        {% endfor %}
        {{ climb.username }} 
    </div>
    <img src="{{ url_for('file', filename=climb['photo_video_name']) }}">
    <p class='card-text ml-3 mt-3 mb-1'>{{ climb.grade }} @ 
        {% for gym in gyms %}
        {% if gym._id == climb.gym %}
            {{ gym.name}}
        {% endif %}
    {% endfor %}</p>
    <p class='card-text ml-3 mt-0 mb-3'>Added on: {{ climb.date }}</p>
    <form method='POST' action='/climbers/climbs/{{ climb._id }}'>
        <input type="hidden" name="climber_id" value="{{climb.climber_id}}">
        <button class='btn btn-primary w-25' type='submit'>Delete</button>
    </form>

</div>
