{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/climbers/{{climber._id}}' enctype='multipart/form-data'>
    <fieldset>
        <legend class="mt-4 mb-4">New User</legend>
        <!-- TITLE -->
        <p>
            <label for='username'>Username</label><br>
            <input type='text' name='username' class="form-control" required/>
        </p>
        <p>
            <label for='fullname'>Full Name</label><br>
            <input type='text' name='fullname' class="form-control"/>
        </p>
        <p>
            <label for='level'>Level</label><br>
            <select name='level' class="form-control">
                <option value='beginner'>Beginner</option>
                <option value='beginner-intermediate'>Beginner-Intermediate</option>
                <option value='intermediate'>Intermediate</option>
                <option value='intermediate-advanced'>Intermediate-Advanced</option>
                <option value='advanced'>Advanced</option>
            </select>
        </p>
        <label for='homegym'>Home Gym</label><br>
            <select class='form-control'
                id ='homegym'
                name = 'homegym'>   
                {% for gym in gyms %}
                    <option value="{{gym._id}}">{{gym.name}}</option>
                {% endfor %}
            </select>
        <div class='form-group'>
            <label for='profile-photo' class="form-label">Profile Pic</label>
            <input type='file' name='profile-photo' class='form-control' required></input>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button class="btn btn-primary" type='submit'>Save User Information</button>
    </p>
</form>
{% endblock %}
